

figure { margin: 20px 0 50px; }

figcaption {
    font-style: italic;
    margin-top: 5px;
    margin-bottom: 10px;
}

iframe {
    border:none;
    display: block;
    margin: 30px 0 50px;
}
.story ul {
    margin-bottom: 30px;
    padding-left: 5%;
}

.divider { clear: both; }
.hidden { display: none; visibility: hidden; }
.strike { text-decoration: line-through; }
.quote {
    display: block;
    padding: 10px 0 15px 5%;
    font-style: italic;
}

.button, a.button {
	display: inline-block;
	font-size: 18px;
	font-weight: bold;
    text-decoration: none;
    color: #fff;
    background-color: #e14538;

    background-color: rgba(210, 71, 61, .9);
    border: none;
	padding: 9px 25px 12px;
    margin-top: 20px;
    margin-bottom: 30px;
    cursor: pointer;
    border-radius: 5px;
}

.button:hover, a.button:hover {
    color: #fff;
	background-color: #c13a33;
    text-decoration: none;
}

a.button:active, a.button:visited { color: #fff; }

p.emphasis { 
    font-size: 32px;
    margin: 25px 0 45px;
    padding-left: 15px;
    border-left: 10px solid #eee;
}


