{% extends 'base.html' %}
{% block title %}
Регистрация
{% endblock %}

{% block main %}

<main class="p-5">

    <form class="w-50 mx-auto" method="post">
        <h1 class="">Регистрация</h1>
        {% with messages = get_flashed_messages(True) %}
        {% if messages %}
        {% for category, message in messages %}
        <p class="m-2 flash {{category}}">{{message}}</p>
        {% endfor %}
        {% endif %}
        {% endwith %}
        <div class="mb-3">
            <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
                placeholder="Имя" name="name" required>
        </div>
        <div class="mb-3">
            <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
                placeholder="Email" name="email" required>
        </div>
        <div class="mb-3">
            <input type="password" name="password" class="form-control" id="exampleInputPassword1" placeholder="Пароль"
                required>
        </div>
        <button type="submit" class="btn btn-primary">Зарегистрироваться</button>
    </form>
</main>
{% endblock %}